Flask==2.0.3
firebase-admin==5.1.0
pymongo[srv]==3.11
pandas
numpy
joblib
google-generativeai
googletrans==4.0.0-rc1
ultralytics
opencv-python
pillow
flask-cors
torch 
torchvision
Flask-Mail
flask-socketio