<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Virtual Garden</title>
    <link rel="stylesheet" href="/static/styles3.css">
</head>
<body>
    <h1 class="sitename">Virtual Garden</h1>
    <div class="form-container">
        <form action="/search_plant" method="POST">
            <label for="category">Select a Category:</label>
            <select name="category" id="category" required>
                {% for category, plants in categories.items() %}
                    <option value="{{ category }}">{{ category }}</option>
                {% endfor %}
            </select>

            <label for="plant_name">Select a Plant:</label>
            <select name="plant_name" id="plant_name" required>
                {% for plant in categories['Ayurveda'] %}
                    <option value="{{ plant }}">{{ plant }}</option>
                {% endfor %}
            </select>

            <button type="submit">Search</button>
        </form>
    </div>
</body>
</html>
